body {
    margin: 0;
    padding: auto;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
a {
    text-decoration: none;
    padding-right: 120px;
    color: aliceblue;
}
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(29, 4, 4);
    color: aliceblue;
    
}
.logo {
    padding-left: 100px;
    font-size: 2rem;
}
.img {
    width: 500px;
    margin: 50px 100px 50px 400px;
}
.title {
    margin: 0;
}
.section1 {
    display: flex;
    background-color: #2e1114;
    align-items: center;
    

}
.random {
    padding: 50px;
    font-size: 2.5rem;
}
.random-img {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
}
.img-all {
    border: 3px solid blue;
    border-radius: 5%;
    width: 400px;
    ;
}
.section2 {
    background-color: #5e1920;
    

}
.para {
    margin: 30px;
    font-size: 1.5rem;
}
.btn {
    background-color: #3883f6;
    border-radius: 12px;
    font-size: 20px;
    border: none;
    padding: 15px 30px;
    margin: auto;
    color: white;
}
.quotes {
    padding: 100px;
    background-color: #a5313d;
    margin: 0px;
    font-size: 1.5rem;
    font-weight: bold;
  
}
.para2 {
    margin: 0;
    padding: 50px;
}
.quote-auther {
    padding: 0 100px 50px 0;
    text-align: end;
}
.description {
    margin-left: 100px;
}
.signup {
    background-color: #eb5d6b;
}
.footer {
    background-color: #f8aab2;
    padding: 30px;
}