body {
    margin: 0;
    padding: auto;
    text-align: center;
}
a {
    text-decoration: none;
    padding-right: 120px;
    color: aliceblue;
}
/* .main {
    display: flex;
    background-color: black;
    color: white;

} */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
    color: aliceblue;
    
}
.logo {
    padding-left: 100px;
}
.img {
    width: 500px;
    margin: 50px;
}
.title {
    margin: 0;
}
.section1 {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    align-items: center;
    

}